/* You can add global styles to this file, and also import other style files */
$blue:#002A8D !default;
$orange: #ff7800 !default;
$border-radius: 0 !default;
$border-radius-sm: 0 !default;
$border-radius-lg: 0 !default;
@import "~bootstrap/scss/bootstrap";
html,body{
    font-family: 'Roboto',sans-serif;
}
