<app-navbar>
    <h2 class="text-center w-100">Detalle de Agencia</h2>
</app-navbar>
<form class="p-4" [formGroup]="form">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputName" placeholder="Nombre de Agencia" formControlName="agencia">
        <label for="inputName">Nombre de Agencia</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputAddress" placeholder="Dirección" formControlName="direccion">
        <label for="inputAddress">Dirección</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputDistric" placeholder="Distrito" formControlName="distrito">
        <label for="inputDistric">Distrito</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputLat" placeholder="Latitud" formControlName="lat">
        <label for="inputLat">Latitud</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="inputLon" placeholder="Longitud" formControlName="lon">
        <label for="inputLon">Longitud</label>
    </div>
    <div class="text-center mt-5">
        <button class="btn btn-info text-white btn-lg px-4" (click)="save()">Actualizar</button>
    </div>
</form>
